@model MVCZakazivanjePregleda.Models.tblKorisnik

@{
    ViewBag.Title = "SuccessfulLogin";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="jumbotron" style="background-color:white">
        
        <div class="alert alert-success">
            <strong>
                <h2>Uspešno ste se registrovali! @Html.ActionLink("Ulogujte se u aplikaciju", "Login") </h2>
            </strong>
        </div>
       
       
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
